{% extends 'core/base.html' %}

{% block title %}О бренде{% endblock %}

{% block content %}
<h2 class="mb-4">О бренде</h2>
<div class="row">
    <div class="col-md-8 mx-auto">
        <p>NO WOE | NO WORDS ONLY EMOTION - это молодой развивающийся бренд вдохновленный стилем уличной одежды и эмоциональной составляющей каждого из нас. Мы создаём вещи которые цепляют взгляды.</p>
        <p>Доставка проходит через СДЕК за счёт покупателя</p>
        <p>Срок изготовления до 14 дней</p>
    </div>
</div>
{% endblock %}